header {
    padding: 0;
    color: white;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px; /* Ajusta la altura según sea necesario */
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
    text-align: center;
}

footer {
    background-color: #1a95c1;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; /* Ajusta la altura según sea necesario */
}