header {
    padding: 0;
    color: white;
    background-color: #333;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

footer {
    background-color: #1a95c1;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
}